.navbar {
   background-color: #282D44 !important;

}

.jumbotron {
   background-color: #282D44;

 }
 p{
     color: white
 }
 #search { margin-top: 30px;
 }

 #tradingview_2f498 {
   align-items: center;
}
